.main-chat
  .main-chat__main-header
    .main-chat__main-header__detail
      .main-chat__main-header__detail__group-name
        TECH::EXPERT 
      .main-chat__main-header__detail__group-members
        Member: teshita, riho 
    = link_to '#', class: 'main-chat__main-header__edit-btn' do
      Edit 
  .main-chat__message-list
    .main-chat__message-list__message
      .main-chat__message-list__message__post-info
        .main-chat__message-list__message__post-info__post-name
          小松 
        .main-chat__message-list__message__post-info__post-time
          2020/02/18(Tue) 21:03:10 
      .main-chat__message-list__message__post-message
        15期連続黒字！ 
    .main-chat__message-list__message
      .main-chat__message-list__message__post-info
        .main-chat__message-list__message__post-info__post-name
          小松 
        .main-chat__message-list__message__post-info__post-time
          2020/02/18(Tue) 21:59:21 
      .main-chat__message-list__message__post-message
        早く引っ越したい 
  .main-chat__message-form
    .main-chat__message-form__input-box
      %input{type: 'text_field', name: 'text', placeholder: 'type a message', class: 'main-chat__message-form__input-box__message'}
      %label{name: 'image', class: 'main-chat__message-form__input-box__image'}
        = icon('far', 'image', class: 'main-chat__message-form__input-box__image-icon fa-lg')
        %input{type: 'file', name: 'image', class: 'main-chat__message-form__input-box__image-file'}
    %input{type: 'submit', value: 'Send', class: 'main-chat__message-form__send-btn'}