.side-bar
  .side-bar__side-header
    .side-bar__side-header__box
      .side-bar__side-header__box__user-name
        teshita
      %ul.side-bar__side-header__box__menu
        %li
          = link_to "#" do
            = icon('far', 'edit', class: "side-bar__side-header__box__menu__icon")
        %li
          = link_to "#" do
            = icon('fas', 'cog', class: "side-bar__side-header__box__menu__icon")
  .side-bar__groups-list
    .side-bar__groups-list__group
      .side-bar__groups-list__group__group-name
        TECH::EXPERT
      .side-bar__groups-list__group__recent-message
        早く引っ越したい
    .side-bar__groups-list__group
      .side-bar__groups-list__group__group-name
        個人事業
      .side-bar__groups-list__group__recent-message
        15期連続黒字経営！
    .side-bar__groups-list__group
      .side-bar__groups-list__group__group-name
        div会
      .side-bar__groups-list__group__recent-message
        今週飲み会開催します！場所は渋谷です。時間は19時からです。都合のいい日を教えてください。