* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}
  
.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  color: $side-bar-font-color;
  font-weight: bold;
  .side-header {
    height: $header-height;
    padding: $side-bar-padding;
    display: flex;
    align-items: center;
    .box {
      height: 20px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .menu {
        display: flex;
        list-style: none;
        li {
        margin-left: 5px;
        }
        .icon {
        color: $side-bar-font-color;
        text-decoration: none;
        }
      }
    }
  }
  .groups-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: $side-bar-padding;
    .group {
      padding: 20px 0 40px;
      a {
        text-decoration: none;
        color: white;
      }
      .group-name {
        margin-bottom: 5px;
        font-size: 15px;
      }
      .recent-message {
        font-size: 11px;
      }
    }
  }
}
  
.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: $main-chat-background-color;
  .main-header {
    height: $header-height;
    padding: $main-chat-padding;
    display: flex;
    justify-content: space-between;
    .detail {
      .group-name {
        color: $main-chat-name-font-color;
        font-size: 20px;
        margin: 35px 0 15px;
      }
      .group-members {
        color: $main-chat-info-font-color;
        font-size: $main-chat-info-font-size;
      }
    }
    .edit-btn {
      height: 40px;
      width: 72px;
      padding: 0 20px;
      margin-top: 28px;
      display: block;
      line-height: 40px;
      text-decoration: none;
      color: $edit-btn-color;
      font-size: $btn-font-size;
      border: solid 1px $edit-btn-color;
      text-align: center;
    }
  }
  .message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px;
    overflow: scroll;
    .message {
      padding-bottom: 46px;
      .post-info {
        display: flex;
        margin-bottom: 12px;
        .post-name {
          color: $main-chat-name-font-color;
          font-size: 16px;
          font-weight: bold;
          margin-right: 10px;
        }
        .post-time {
          color: $main-chat-info-font-color;
          font-size: $main-chat-info-font-size;
        }
      }
      .post-message {
        color: #434A54;
        font-size: 14px;
      }
    }
  }
  .message-form {
    height: 90px;
    background-color: #d2d2d2;
    padding: $main-chat-padding;
    display: flex;
    align-items: center;
    .input-box {
      height: $form-input-height;
      width: 100%;
      background-color: $main-chat-background-color;
      display: flex;
      position: relative;
      align-items: center;
      .message {
        height: 100%;
        width: 100%;
        padding-left: 10px;
        border: none;
      }
      .image {
        position: absolute;
        right: 10px;
        cursor: pointer;
      }
      .image-file {
        display: none;
      }
    }
    .send-btn {
      width: 100px;
      height: $form-input-height;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      font-size: $btn-font-size;
      color: $main-chat-background-color;
    }
  }
}

#new_message {
  display: flex;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}